<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>我的页面 Mypage</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="shortcut icon" href="./templates/favicon.ico">
        <link rel="icon" type="image/gif" href="./templates/animated_favicon1.gif">
        
        <link rel="stylesheet" href="./templates/libs/bootstrap/css/bootstrap.min.css">

        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="./templates/libs/bootstrap/css/bootstrap-theme.min.css">
        
        
        
        

        <!-- 引用按钮插件样式 -->
        <link rel="stylesheet" href="./templates/libs/buttons/buttons_1.css">
        
        
        <!-- 自定义的样式 -->
        <link rel="stylesheet" href="./templates/css/index.css">
        
        <!--加载phonegap-->
        <!--<phonegap></phonegap>-->
        
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="./templates/libs/jquery.min.js"></script>
        <!-- cookie插件 -->
        <script src="./templates/libs/jquery.cookie.js"></script>
        <!-- 引用按钮插件 -->
        <script src="./templates/libs/buttons/buttons.js"></script>
        <!-- 图片放大插件lightbox -->
        <script src="./templates/libs/lightbox/js/lightbox.min.js"></script>
        <link href="./templates/libs/lightbox/css/lightbox.css" rel="stylesheet" />
        <!-- ios风格提示插件 -->
        <link rel="stylesheet" href="./templates/libs/iosoverlay/iosOverlay.css">
        <script src="./templates/libs/iosoverlay/iosOverlay.js"></script>
        <!-- 图片加载插件 -->
        <script src="./templates/libs/imagesloaded.pkgd.min.js"></script>
        <!-- 加入生成二维码插件 -->
        <script src="./templates/libs/jquery.qrcode.min.js"></script>
        <!-- 加入changmo插件 -->
        <script src="./templates/libs/changmo.js"></script>
        
        <!-- 引入js的api -->
        <!--<script src="http://channel.sinaapp.com/api.js"></script>-->
        <script>
            if(!window.sessionStorage){  
                alert("对不起！您的浏览器太弱啦！请用高端点的~或者您可以试下调高速模式~");
             }
             if(localStorage.tkid){
                 sessionStorage.tkid=localStorage.tkid;
             }
//             var link_url="../link.php?";
             var link_url="./link.php?";
             var link_url_i="http://www.myinspi.com/";
             
             
        </script>
        
        
        <script src="./templates/js/phone.js"></script>
        <script src="./templates/js/regex.js"></script>
        
        <script src="./templates/js/get_one.js"></script>
        
        
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="./templates/libs/bootstrap/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        
        
        
        <!--中间主要内容-->
        <div id="tab1"></div><!--定位最高点-->
        <div class="col-md-12 bgt sell_top"><h2><a href="http://mobilcms.sinaapp.com">Show Mypage to every one</a></h2></div>
        <p>&nbsp;</p>
        <div class="col-md-12">
            
            
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-12 col-md-8">
                
                <!--中间内容这里开始-->
                
                <div id='show_mysell_first'></div>
                    <div id='show_mysell'></div>
<!--                <div class="row">
                <div class="center-block">
                    <span class="center-block" id="foo" style="width:100px; height:200px;"></span>
                    <div class="col-md-12"><span class="center-block" id="foo" style="width:100px; height:200px; margin-left:100px;"></span></div>
                    <div class="thumbnail">
                        <div class="caption">
                            <p><small class="gray">2014.11.11 23:11:56</small></p>
                            <p>今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不
                                错哦！！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！今天拍了点东西，很不错哦！！
                            </p>
                            
                      </div>
                      <img name="" src="http://freetofind-main.stor.sinaapp.com/tu.jpg" width="500" height="500" class="img-rounded" alt="" />
                    </div>
                    
                </div>
                </div>-->
                
                
                <!--中间内容这里结束-->
            </div>
            <div class="col-md-2"></div>
                
        </div>
            </div>
        
        
        <div> 
            <p align="center" class="center-block">Made by Leehow</p>
            <p align="center" class="center-block">Email:leeehow@gmail.com</p>
        </div>
        <div class="gototop">
            <div class="pull-right">
                <ul class="list-unstyled">
                <li><a href="#" class="button button-circle"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
                </ul>
            </div>
            <!--<a id="gototop" href="#tab1" class="button button-border-royal button-pill btn-xs pull-right"><span class="glyphicon glyphicon-arrow-up"></span></a>-->
        </div>
        <!--回到顶部-->
        <!--</div>-->
        <!--中间内容结束-->
    </body>
    
</html>
